{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <div class="header__logo">
                    <h3>{{ user.username|default:'Guest' }}</h3>
                </div>
                <audio controls>
                    <source src="{% static 'music/treehouse.mp3' %}">
                </audio>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li class="header__item">
                        {% if user.is_authenticated %}
                            <a class="header__link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="header__item">
                            <a class="header__link" href="{% url 'signup' %}">Registration</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="modal" id="modal-one" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                    Registration
                <a href="#close" class="btn-close" aria-hidden="true">×</a>
            </div>

            <div class="modal-body">
                <input type="text" id="user" name="user" placeholder="username" class="modal-body_username" />
                <input type="password" id="pass" name="pass" placeholder="password" class="modal-body_password" />
                <button type="submit" class="modal-body_submit"> sign in </button>
                <p class="modal-body_str">forgot your password? <a href="#" class="modal-body_click">click here</a></p>
            </div>
        </div>
    </div>
    <!-- search -->
            <div id='watch'></div>
        <script type="text/javascript">
            let watch = document.getElementById('watch');

        watch.innerText = (new Date()).toLocaleTimeString();

        setInterval(function() {
        watch.innerText = (new Date()).toLocaleTimeString();
        },1000);
        </script>
    <div class="search">
        <form action="" class="search__engine">
            <input name="q" type="text" placeholder="Enter word..." class="search__block">
            <input type="submit" value="Search" class="search__btn">
        </form>
                </div>
        <div class="search__result">
            {% if not sentences and check %}
                <p class="search__result__none">0 результатов поиска</p>
            {% else %}
                {% for i in sentences %}
                    <p class="search__result__text">{{ i }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>